

.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; 
  font-weight: 700;
}






nav li{
    list-style: none;

} 


.container{ 
    position: relative;
    width: 100%;
 
  

} 
.logo{
    font-size: 34px ;
    color: #59029b;
    font-size:bold;

} 


.container img{  
    width: 1460px; 
    height: 580px;

}
.container  nav{
    position: absolute;
    top: 5%;
    display: flex;
    align-items: center;
    margin: 0px 65px; 
    gap:950px; 
  
}  

 .container .banner{
    position: absolute;
    top: 30%; 
    text-align: center; 
    margin-left: 20%;
    
    

} 

.text-head{
    font-size: 65px;
    font-weight: 700;
    max-width: 900px;
} 


.action{
    display: flex; 
    margin: 100px 65px;
    gap: 460px ;

      
} 

img{
    width:403px;
    height: 328px;
    border-radius: 25px;
   
    
    
} 


.title{
    font-size: 42px;
    font-weight: 700;
} 
.sub-title{
    font-weight: Regular;
    font-size: 24px;
    color:	#aaaaaa;
   max-width: 420px;
    
}
 

.productive-user{ 
    width: 1300px;
    height: 330px;
    background-color:#adc7ec;
    border-radius: 24px;
    margin: 100px 65px;
    text-align: center;
    line-height: 10px;


} 

.heading{
    font-size: 38px;
    font-weight: 700;
    padding-top: 65px;
  

}

.data{
    display: flex;
    gap: 160px;
    padding-left:260px;
    line-height: 0px;
   

  
} 
.data-amount{
    font-size: 80px;
    font-weight: 700;
    color:#59029b;

}

.text{
    font-size: 20px;
    font-style: normal;
   

} 

.user-head{
    font-size: 42px;
    font-weight: 700;
    text-align: center;
}

.card{
    display: flex;
    gap: 70px;
    margin: 100px 65px;
  
} 


.cards{

    width: 340px ;
    height: 230px;
    background-color:aliceblue;
    padding: 24px; 
    border-radius: 10px;

}



.card-1{
    display: flex;
    /* background-color: aqua;
    width: 400px;
    height: 400px; */
} 




.card-1 img{
    width: 20px;
    height: 20px;
} 


.review-part{
    display: flex;
     align-items: center;
     gap: 20px;
     line-height: 10px;
   
} 

.review-part img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
   
} 

.card-title{
    font-size: 24px;
    font-weight: 700;
}

.card-text{
    font-size: 16px;
    max-width: 300px;
  
} 
.review-name{
    font-size: 16px;
} 

.review-date{
    font-size: 16px;
    color:#aaaaaa;
} 

.btn-primary{
    position: relative;
    padding: 20px 35px;
    align-items: center;
    border: 1px solid black;
    background-color:#59029b;
    color: white;
    cursor: pointer;

    border-radius: 10px;
    transition: color  0.8s  linear;
    overflow: hidden;



} 

.btn-primary::before{
    position: absolute;
    top: 0;
    left: 0;
    right: -50px;
    border-bottom: 100px solid orange;
    transform: translateX(-100);
    transition: transform 0.8s linear;
    border-right: 50px solid transparent;
    z-index:-1 ;

} 

.btn-primary:hover{
    background-color: orange;

}  

.btn-primary:hover::before{
    transform: translateX(30);
} 


.btn-primary span{
   padding-left: 220px; 
  
  
}



.footer-section{

    text-align: center;
    margin-top: 80px;
    line-height: 18px  ;
} 

.list-name{
    display: flex;
    gap: 50px;
   margin-left: 560px;
   list-style: none;
   margin-bottom: 30px;
 
 

} 

.list-name a{ 
      text-decoration: none;
      color: black;

}


.form-section{
    display: flex;
    gap: 160px;
    margin: 100px 65px;
    background-color:#ffffff;
    padding: 10px;
    
} 

.left-title{
    font-size: 97px;
    font-weight: 700;
    max-width: 540px;
    
} 


.input-form{
    width: 570px;
    gap: 10px; 
    background-color:#f8fafc;
    padding: 20px; 
    border: none; 
    border-radius: 13px;
} 

.input-message{ 
    width: 590px;
    height: 150px;
    gap: 10px; 
    background-color:#f8fafc;
    padding-left: 20px; 
    border: none; 
    border-radius: 13px;


} 

.form-button{
    width: 59opx;
    background-color: #59029b;
    color: #ffffff; 
    padding: 5px 25px; 
    font-size: 18px; 
    border: none; 
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;

} 


.focus-better{

    text-align: center;
    margin: 100px 65px;
    background-color:aliceblue;
    width: 1260px;
    line-height: 30px;
    padding: 35px;
    border-radius: 16px;
} 

.focus-heading{
    font-size: 50px;
    font-weight: 700;

} 

.focus-img  img{
    width: 500px;
    height: 250px;
    border-radius: 20px;
    margin-top: 20px;
}  

.website-name{
    font-size: 50px;
    font-size: bold;
    color: #59029b;
}



   



